/* ------------------------------- CSS Reset ------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    --black: #0c0c0c;
    --light-black: #1a1a1a;
    --white: #fefefe;
    --grey: #d9d9da;
    --red: #cc0000;
    --light-grey: #f2f2f2;
}

html {
    font-size: 62.5%;
    /* overflow-x: hidden;
    scroll-padding-top: 7rem; */
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
}

/* -----------------x------------- CSS Reset --------------x--------------------------- */
/* ------------------------------- Utility Classes ------------------------------------------ */
.section-heading {
    align-self: flex-start;
    margin-left: 3rem;
    margin-top: 3rem;
    font-weight: 750;
    font-size: 3rem;
}

.section-aligment {
    margin: 0rem 0rem;
    display: flex;
    gap: 1.3rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

a {
    color: black;
}

a:hover {
    border-bottom: 1px solid black;
}

/* -------------------x----------- Utility Classes ----------x------------------------------- */
/* ------------------------------ Header ----------------------------------------------------- */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 2.5rem;
    background-color: var(--black);
    border-bottom: 1px solid var(--grey);
}

header a:hover {
    border-bottom: none !important;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu-bar,
#search-btn {
    color: var(--light-grey);
    font-size: 2.3rem;
}

#search-btn {
    margin: 0.3rem 1rem;
}

.logo img {
    width: 39px;
    height: 39px;
    margin-left: 3rem;
    margin-right: 1rem;
    vertical-align: middle;
}

nav ul,
.left-icons ul,
.left-icons {
    display: flex;
}

nav ul li,
.left-icons ul li {
    list-style: none;
}

nav ul li a,
.left-icons ul li a {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--grey);
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 0rem 1.3rem;
}

.left-icons ul li a {
    font-weight: 300;
    margin: 1rem 0;
}

.left-icons ul li {
    flex: 0 0 auto;
}

nav ul li a:hover,
.left-icons ul li a:hover {
    color: var(--white);
}

.left-icons #nav-search-btn {
    margin: 0.8rem 1.5rem;
    font-size: 2rem;
    color: #f2f2f2;
}

.left-icons {
    margin-left: auto;
}

.signin-btn {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid white;
    font-family: 'Helvetica Neue', sans-serif;
    border-radius: 9px;
    padding: 0.2rem 0.6rem;
    margin: 0.6rem 0rem;
    max-width: 30rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ----------------------x----------------- Header ---------------------x---------------------- */
/* ----------------------------------- Header DropDown Menu --------------------------------- */
.hidden {
    display: none;
}

#dropdownMenu {
    background: black;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 44%;
    left: -2rem;
    z-index: 1000;
    max-height: 95vh;
    overflow-y: auto;
}

.dropdownMenu .search-bar-container {
    margin-top: -4rem !important;
}

.dropdownMenu a:hover {
    border-bottom: 1px solid white !important;
}

/* --------------------x-------------- Header DropDown Menu ------------x-------------------- */
/* ----------------------------- Top Headlines -------------------------------------------------- */
.top-headlines {
    margin: 0rem 2rem;
    margin-top: 7rem;
    text-align: center;
}

.top-headlines a {
    font-size: 1.6rem;
    color: var(--light-black);
    font-family: 'Helvetica Neue', sans-serif;
    padding: 0rem 1.5rem;
    border-right: 2px solid var(--grey);
}

.top-headlines a:last-child {
    border-right: none;
}

.top-headlines a:hover {
    border-bottom: 1px solid black;
}

/* ----------------------x----------------- Top Headlines ----------------x---------------------------------- */
/* ---------------------------------------- Updates Section -------------------------------------------------- */
.updates {
    margin: 0rem 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    gap: 1.3rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top-line {
    font-size: 2.1rem;
    font-weight: 750;
    margin-bottom: 1.5rem;
}

.liveupdates,
.newsline p {
    font-size: 1.6rem;
    color: var(--light-black);
}

.liveupdates li {
    list-style: none;
    margin: 1.5rem 0rem;
}

.liveupdates span {
    color: #cc0000;
    font-weight: bold;
}

.left-updates {
    flex: 1 0 50%;
    max-width: 50%;
    height: fit-content;
}

.mid-updates,
.right-updates {
    flex: 1 0 calc(23% - 10px);
    max-width: calc(23% - 10px);
    height: fit-content;
}

.left-updates .heading {
    text-align: center;
    font-weight: 750;
    font-size: 4.6rem;
}

.left-updates img {
    margin: 1.4rem 0rem;
    width: 100%;
    height: 65%;
}

.mid-updates img,
.right-updates img {
    height: 100%;
    width: 100%;
    margin-bottom: 1.4rem;
}

.mid-updates .newsline p {
    margin-top: 1rem;
}

.mid-updates .opinion {
    margin: 2rem 0rem;
    font-size: 1.6rem;
}

.mid-updates .opinion span {
    font-weight: bold;
}

.grey-line li {
    padding-top: 1.5rem;
    border-top: 1px solid var(--grey);
}

/* ----------------------x--------- Updates Section --------------x----------------------------------- */
/* ----------------------------- Top-Stories Section ---------------------------------------------- */
.top-stories {
    margin: 0rem 2rem;
}

.top-stories .left-updates {
    flex: 1 0 calc(23% - 10px);
    max-width: calc(23% - 10px);
    height: fit-content;
}

.top-stories .mid-updates {
    flex: 1 0 50%;
    max-width: 50%;
    height: fit-content;
}

.top-stories .right-updates {
    flex: 1 0 calc(23% - 10px);
    max-width: calc(23% - 10px);
    height: fit-content;
}

.top-stories .mid-updates .top-line {
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.top-stories .mid-updates .newsline {
    margin-top: 1.5rem;
    padding-top: 1rem !important;
}

.newsline {
    padding-top: 2rem;
    border-top: 1px solid var(--grey);
    display: flex;
    margin-bottom: 1rem;
}

.newsline img {
    width: 130px;
    height: 75px;
}

.newsline p {
    font-size: 1.6rem;
    color: var(--light-black);
    margin: 0.2rem 1rem;

}

.tag {
    border-top: 2px solid var(--red);
    padding-top: 0.5rem;
    font-weight: 780;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.top-stories .mid-updates img {
    margin-top: 1rem;
}

/* ----------------------x---------- Top-Stories Section --------------x------------------------- */
/* ------------------------------- Featured Section ----------------------------------------------- */
.featured-section {
    margin: 0rem 2rem;
    margin-top: 2rem;
    display: flex;
    gap: 1.3rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.featured-section .news img {
    margin-top: 1.5rem;
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
}

.featured-section .news {
    flex: 1 0 calc(32% - 10px);
    max-width: calc(32% - 10px);
    height: fit-content;
    margin-bottom: 3rem;
}

/* ----------------------x----------- Featured Section -----------x-------------------------------- */
.black-bg {
    background-color: #0c0c0c !important;
    color: #fff !important;
}

.black-bg a {
    color: #fff;
}

.black-bg a:hover {
    border-bottom: 1px solid #fff;
}

.black-bg hr {
    margin-top: 3rem;
    height: 0.04rem;
    background: gray;
    margin-right: 0.6rem;
}

/* --------------------------------- Mixed News Section--------------------------------- */
.missednews-heading {
    margin-top: 5rem;
}

.missednews {
    margin-top: 1rem;
}

.missednews .left-updates {
    flex: 1 0 55%;
    max-width: 55%;
    height: fit-content;
}

.missednews .left-updates img {
    width: 100%;
    height: 100%;
    align-self: flex-start;
}

.missednews .left-updates .top-line {
    margin-top: 1rem;
}

.missednews .right-updates {
    flex: 1 0 36%;
    max-width: 36%;
    height: fit-content;
}

.missednews .newsline {
    font-size: 2rem;
    padding-top: 1rem !important;
    margin: 1.2rem 0rem;
    border-top: 1px solid gray;
    display: flex;
}

.missednews .newsline p {
    margin: 0.8rem 1rem;
    color: white !important;
}

/* ----------------------x------------ Mixed News Section --------x----------------------------- */
/* -------------------------------- Searchbar Section -------------------------------- */
.search-bar-container {
    margin-bottom: 3rem;
}

.search-bar-container .form-content {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem;
    margin-top: 5rem;
}

.search-bar-container .form-content #search-bar {
    width: 100%;
    padding: 1rem;
    text-transform: capitalize;
    color: black;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.search-bar-container .form-content label {
    color: black;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1.5rem;
    padding: 1rem;
}

/* -----------------------x----- Searchbar Section ------------x---------------------------- */
/* ----------------------------- SignIn Button For Mobile View ----------------------------------------- */
.signinbtn-mobile {
    display: none;
}

.signinbtn-mobile i {
    font-size: 1.5rem;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 1.5rem;
    padding: 0.5rem 0.6rem;
}

.signinbtn-mobile button {
    font-size: 1.6rem;
    font-weight: bold;
    background: black;
    text-align: center;
    color: white;
}

/* -----------------------x----- SignIn Button For Mobile View ------------x---------------------------- */
/* ----------------------------- .footer-content Section ----------------------------------------- */
.footer-content {
    padding: 0 1.5rem;
    margin: 2rem;
}

.footer-content .box-container {
    display: flex;
    flex-wrap: wrap;
    grid: 1.5rem;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.25);
    margin-bottom: 2rem;
}

.footer-content .box-container .box {
    padding: 1rem 0;
    flex: 1 1 15rem;
    margin-bottom: 2rem;
}

.footer-content .box-container .box h3 {
    font-size: 1.8rem;
    padding: 0.7rem 0;
    color: #fff;
}

.footer-content .box-container .box a {
    display: block;
    font-size: 1.4rem;
    padding: 0.4rem 0;
    color: #eee;
    width: max-content;
}

.footer-content .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
}

.footer-content .links a:hover {
    border-bottom: none !important;
}

.footer-content .links img {
    width: 39px;
    height: 39px;
    margin-left: -1rem;
    margin-right: 1rem;
}

.footer-content .links .quicklinks {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.footer-content .links .quicklinks .pages a {
    margin-right: 2rem;
    max-width: max-content;
    ;
}

.footer-content .links .quicklinks .pages a:last-child {
    padding-right: 2.5rem;
    border-right: 2px solid gray;
}

.footer-content .links .quicklinks .socialaccounts {
    margin-top: -1rem;
}

.footer-content .links .quicklinks .socialaccounts a:first-child {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
}

.footer-content .links .quicklinks .socialaccounts a {
    font-size: 2.3rem;
    margin-right: 2rem;
}

.footer-content .extra-links {
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.25);
}

.footer-content .extra-links a {
    margin-right: 1.5rem;
}

.footer-content .copyright {
    margin-top: 1.6rem;
    font-size: 1.3rem;
}

.footer-content .copyright a:hover {
    border-bottom: none !important;
}

.footer-content .copyright p {
    margin-top: 0.6rem;
}

/* -----------------------x----- .footer-content Section ------------x---------------------------- */
/* ----------------------------- Media Queries ------------------------------------------ */
@media only screen and (max-width: 1007px) {
    header {
        padding: 0px 2.5rem;
        background-color: var(--black);
        border-bottom: 1px solid var(--grey);
    }

    .nav-links {
        display: none;
    }
}

@media only screen and (max-width: 957px) {
    .left-icons #nav-search-btn {
        display: none;
    }

    .left-updates .heading {
        font-size: 3.6rem;
    }

    .updates {
        flex-direction: column;
    }

    .section-aligment {
        flex-direction: column;
    }

    .left-updates,
    .mid-updates,
    .right-updates,
    .news {
        width: 100%;
        max-width: none !important;
        margin-left: 0;
    }

    .featured-section {
        flex-direction: column;
    }

    .section-heading {
        margin-left: 2rem;
    }

    .missednews {
        margin: 0rem 2rem;
    }

    .missednews .right-updates {
        margin-top: -2rem;
    }

    .footer-content .box-container {
        flex-direction: column;
        padding-bottom: 1.5rem;
        margin-bottom: 1rem;
    }

    .footer-content .box-container .box {
        flex: none;
        padding: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .footer-content .box-container .box h3 {
        font-size: 1.8rem;
        font-weight: normal;
    }

    .footer-content .box-container .box a {
        display: none;
    }

    .footer-content .links {
        flex-direction: column;
    }

    .footer-content .links .logo-img {
        margin-bottom: 2rem;
    }

    .footer-content .links .quicklinks .socialaccounts a:first-child {
        display: block;
        margin-bottom: 1rem;
    }

    .footer-content .extra-links {
        display: block;
        margin: auto;
        width: 86%;
    }

    .footer-content .copyright {
        text-align: center;
    }

    .footer-content .links .pages {
        display: none;
    }

    .footer-content .extra-links a {
        margin-bottom: 1.5rem;
        width: max-content;
    }
}

@media only screen and (max-width: 383px) {
    header {
        padding: 0px 1.5rem;
    }

    .signin-btn {
        display: none;
    }

    .signinbtn-mobile.active {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 3rem;
        border-bottom: 0.1rem solid rgba(255, 255, 255, 0.25);
        margin-bottom: 2rem;
    }

}


/* ------------------x---------- Media Queries ------------x----------------------------- */